 #experience, #programmingLanguages{
  background-color: #ffb732;
 }
 #programmingLanguages{
  background-color:#ffc04c ;
 }
 #personalBackground,#myphoto {
  background-color: #ffc966;
 }
 #personalBackground {
  margin-top: 50px;
 }
 #achievements,#games{
  background-color: #ffd27f;
 }
 #games{
  background-color: #f8d79b;
 }
 .container{
  background-color:#ffc966;
 }

 h1 {
  text-align: center;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 5%;
  background-color: #cccccc;
  border-radius: 13px;
  letter-spacing: 8px; 
}
